@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital@0;1&family=Roboto&display=swap');

*{
box-sizing: border-box;
}
html,body{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    /* overflow-x: hidden; */
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
.navbar ul li a{
    text-decoration: none;
    color: #505F98;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}
.buy-now{
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 4px 50px;
    line-height: 18px;
    font-size: 12px;
    font-weight: 500;
    background-color: #111B47;
    color: white;
}
.main-section {
    width: 100%;
    display: flex;
    margin-bottom: 270px;
    /* gap: 40px; */
}
.hero-section {
    height: 421;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-section h1 {
    font-weight: 500;
    font-size: 50px;
    line-height: 66px;
    color: #091133;
    font-family: "Roboto";
}

.hero-section p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #505F98;
    width: 539px;
}

.hero-button {
    display: flex;
    gap: 30px;
}

.hero-button .purchase-btn {
    
    width: 189px;
    height: 36px;
    border: none;
    outline: none;
    background: #111B47;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border-radius: 2px;
    line-height: 26px;
}
.hero-button .light-button{
    width: 189px;
    height: 36px;
    background: white;
    color: #091133;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
}
.hero-img {
    margin-top: 101px;
    /* margin-left: 45px; */
}
.features-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.features-text h6 {
    line-height: 2;
    font-size: 16px;
    font-weight: 400;
    color: #6F7CB2;
}

.features-text h2 {
    font-size: 36px;
    color: #091133;
    font-weight: 500;
    line-height: 48px;
}
.feature-card h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    color: #091133;
}

.feature-card h6 {
    font-size: 12px;
    color: #5D6970;
    font-weight: 400;
    line-height: 18px;
}
.info-card {
    padding-top: 150px ;
    /* height: 100vh; */
}

/* .info-img img {
    width: 484px;
    height: 315px;
} */

/* .info-text {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 15px;
} */

.card-body h6 {
    text-align: justify;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #6F7CB2;
}

.card-body h2 {
    font-size: 36px;
    line-height: 48px;
    font-weight: 500;
}



.button-primary {
    width: 150px;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    border: none;
    border-radius: 2px;
    background: #111B47;
    color: #fff;
    transition: background-color 0.3s ease;
}
.pricing-container {
    background-image: url('../assets/images/Rectangle.png');
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pricing-text{
    margin-bottom: 40px;
}
.pricing-design{
    margin-bottom: 70px;
}
.pricing-container h2 {
    font-size: 36px;
    line-height: 48px;
    font-weight: 500;
    color: #091133;

}

.pricing-container .pricing-text h6 {

    width: 45%;
    margin: 0 auto;
    color: #6F7CB2;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}

.pricing-design h3 {
    font-size: 50px;
    line-height: 60px;
    font-weight: 500;
    color: #091133;
}

.pricing-design h5 {
    
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}

.pricing-button p {
    
    color: #5D6970;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
}

.pricing-button button {
    width: 189px;
    border: none;
    background: #111B47;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    border-radius: 2px;
    margin: 0 auto;
}
.footer-section {
    background: #E7ECFF;
}

.footer-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 1rem;
    padding: 1rem;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-wrapper P {
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 24px;
    color: #939EA4;
    text-transform: capitalize;
}

.footer-wrapper h2 {
    font-size: 1.5rem;
    line-height: 38px;
    font-weight: 900;
    color: #37447E;
}

.footer-wrapper button {
    background: #111B47;
    border-radius: 2px;
    outline: none;
    border: none;
    font-size: 0.8rem;
    line-height: 18px;
    font-weight: 500;
    color: #fff;
    padding: 0.3rem 1rem;
}

.footer-wrapper:first-child {
    border-bottom: 1px solid #CDD1D4;
    padding: 1.2rem 0;
}

.footer-wrapper-content ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0;
    margin: 0;
}

.footer-wrapper-content ul li a {
    text-decoration: none;
    color: #929ECC;
    font-size: 0.9rem;
    font-weight: 400;
}

.footer-icons-list {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}
@media (max-width: 568px){
    header {
        height: 740px;
        width: 567px;
        background-image: url('../assets/images/Path.png');
        background-repeat: no-repeat;
        background-position:  right;
        background-attachment: fixed;
      }
.hero-section{
    margin-top: 100px;
}
.navbar-container{
    width: 570px;
}
.features-text h2{
    text-align: center;
}
.info-img img{
  margin-left: 45px;
  margin-top: -70px;
  margin-bottom: 30px;
}
}

